<!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
     <meta chatset="utf-8">
     <title></title>
   </head>
   <body>
     {% if user_logged_in %}
          <p>Welcome back, ur logged in!</p>
     {% else %}
          <p> Please log in smh! </p>
     {% endif %}

      <h1>Welcome to my grrreat web-site!</h1>
      <h2> {{ mylist }} </h2>
   </body>
</html><!DOCTYPE html>
<html lang="en" dir="ltr">
   <head>
     <meta chatset="utf-8">
     <title></title>
   </head>
   <body>
     {% if user_logged_in %}
          <p>Welcome back, ur logged in!</p>
     {% else %}
          <p> Please log in smh! </p>
     {% endif %}

      <h1>Welcome to my grrreat web-site!</h1>
      <h2> {{ mylist }} </h2>
   </body>
</html>
